*{
    padding: 0%;
    margin: 0%;
    list-style: none;
}
.con{
    border-bottom: 2px solid rgb(10, 10, 113) ;
 display: flex;
 justify-content: space-between;
}
.logo img{
    width: 80px;
    padding: 20px;
  }
  
 .items{
    margin-left: 900px;
 }
  
  .items button{
    align-items: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 15px 30px;
      display: flex;
      background-color: rgb(58, 58, 226);
      font-size: 16px;
      border-color: rgb(6, 50, 195);
      color: rgb(9, 57, 204);
    margin: 30px 30px;
    border-radius: 10px;
    width: 90px;
    height: 30px;
  }
  .items button:hover{
    transition: 0.3s; 
      background-color: transparent;
  cursor: pointer;
  }
   .items a{
    margin-left: 7px;
    color: black;
   }
   .doom{
    margin-top: 40px;
    text-align: center;

   }
   .doom p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 28px;
color: blue;
   }
   .man img{
    margin-top: 20px;
    width: 1300px;
    height: 500px;
   }
   .oll{
    justify-content: center;
   }
   .kim h3{
    margin-top:50px ;
    color: blue;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   .kim p{
    margin-top: 40px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }