*{margin: 0%;padding: 0%;}
.nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.5);
    padding: 5px 10px;
    justify-content: space-between;
    overflow-x: auto;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
  .nav a {
    text-decoration: none;
    color: black;
  }
  .nav_menu {
    display: flex;
    gap: 20px;
    min-width: 500px;
    align-items: center;
  }
  .nav_menu li {
    list-style: none;
  }
  .nav_logo img {
    width: 50px;
  }
  .nav_menu li a {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    display: block;
  }
  .nav_clear {
    width: 100%;
    padding-bottom: 65px;
  }
  .nav input {
    width: 30%;
    min-width: 350px;
    padding: 10px 5px;
    border: 1px solid #dedede;
    outline: none;
  }
  
.sect1{text-align: center;}
.sect2{align-items: center;display: flex;margin-top: 30px;margin-right: 300px;}
.sect3{width: 100%;display: flex;gap: 30px; margin-top: 3%;}
.sct3{width: 50%;}
.sect4{width: 100%;display: flex;gap: 30px;margin-bottom: 80px;}
.sct4{width: 50%;}
.sect5{width: 100%;display: flex;gap: 30px;margin-bottom: 60px;}
.sct5{width: 50%;}
.sect6{width: 100%;display: flex;gap: 30px;margin-bottom: 60px;}
.sct6{width: 50%;}
.footer{
    margin-top: 3%;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px;
}
.socials{
    color: blue;
    text-decoration: none;
    margin: 5px;
}